



<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      th:replace="~{admin/base::Layout(~{::section})}" xmlns="http://www.w3.org/1999/html">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Product Dashboard</title>
</head>
<body class="hold-transition sidebar-mini " >
<section>
    <!--Dashboard-->
    <div class="row" style="display: flex; align-items: flex-start;">
        <!--        <div class="col-md-3 by-period" style="margin-left: 300px; margin-top: 50px;">-->
        <!--            <form th:action="@{/admin/salesReportForGraph}" method="get" class="form-inline">-->
        <!--                <label for="timePeriod">Select:</label>-->
        <!--                <select id="timePeriods" th:name="mode" class="form-control mr-2" onchange="changeSalesReport()">-->
        <!--                    <option value="DAILY">DAILY</option>-->
        <!--                    <option value="WEEKLY">WEEKLY</option>-->
        <!--                    <option value="MONTHLY">MONTHLY</option>-->
        <!--                </select>-->
        <!--&lt;!&ndash;                <button type="submit" class="btn ntn_primary" style="border: 2px solid red;">Show Graph</button>&ndash;&gt;-->
        <!--            </form>-->
        <!--        </div>-->

        <div class="col-md-3 by-period" style="margin-left: 300px;margin-right:400px; margin-top: 50px;">
            <form th:action="@{/admin/dashboard-sale}" method="post" class="form-inline">
                <label for="timePeriod">Select:</label>
                <select id="timePeriod" th:name="selectTimePeriod" class="form-control mr-2" >
                    <option value="DAILY">DAILY</option>
                    <option value="WEEKLY">WEEKLY</option>
                    <option value="MONTHLY">MONTHLY</option>
                </select>
                <button type="submit" class="btn ntn_primary" style="border: 2px solid red;">Show Report</button>
            </form>
        </div>

        <div class="col-md-3" style="margin-left: 10px;">
            <form th:action="@{/admin/generate-sales-report}" method="get">
                <select name="format" class="form-select">
                    <option value="pdf">PDF</option>
                    <option value="excel">Excel</option>
                </select>
                <button type="submit" class="btn btn-primary my-3">Generate Report</button>
            </form>
        </div>
    </div>
    <div style="background-color:#C6EAFA;margin-bottom:4R0px;padding:10px;">
        <h3 class="text-center" style="text-align:center;margin-bottom:40px;">Dash-Board</h3>
    </div>


    <div class="row" style="margin-left:390px;">
        <div class="col-md-3" style="margin-right:50px;">
            <div class="card text-white bg-success mb-3">
                <div class="card-header" style="font-weight:bold;text-align:center;"><h4 style="font-weight:bold;">Orders</h4>

                </div>
                <div class="media d-flex">
                    <div class="media-body text-left" style="margin-left:20px;margin-top:10px;">
                        <h1 class="mr-2" th:text="${totalOrder}"></h1>
                        <span>Sales</span>
                    </div>
                    <div class="align-self-center" style="margin-bottom:24px;">
                        <i class="fa-brands fa-salesforce font-large-4 float-right"
                           style="color: #fff;">

                        </i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3" style="margin-right:50px;">
            <div class="card text-white bg-warning mb-3">
                <div class="card-header" style="font-weight:bold;text-align:center;"><h4 style="font-weight:bold;">Customers</h4></div>
                <div class="card-body">
                    <div class="media d-flex">
                        <h1 class="mr-2" th:text="${totalCustomer}"></h1>
                        <div class="media-body text-left">
                            <h3 class="success"></h3>
                            <span>Customers</span>
                        </div>
                        <div class="align-self-center" style="margin-bottom:13px;">
                            <i class="icon-user success font-large-2 float-right">

                            </i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3" style="margin-right:50px;">
            <div class="card text-white bg-danger mb-3">
                <div class="card-header" style="text-align:center;"><h4 style="font-weight:bold;">Total</h4></div>
                <div class="card-body">
                    <div class="media align-items-stretch">
                        <div class="align-self-center">

                        </div>
                        <div class="media-body">
                            <h6>Total Price</h6>

                            <h4 class="mr-2" th:text="${totalOrderPrice}">

                            </h4>
                        </div>
                        <div class="align-self-center">
                            <i class="icon-wallet success font-large-2"></i>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <!--new -->

    <div style="background-color:#C6EAFA;padding:50px;">
        <div class="row" style="margin-left:420px;" >
            <div class="col-xl-3 col-sm-6 col-10">
                <div class="card" style="border-radius:10px;">
                    <div class="card-content" style="border-radius:10px;">
                        <div class="card-body" style="background-color:white;border-radius:10px;">
                            <div class="media d-flex">
                                <div class="media-body text-left">
                                    <span>Total product</span>
                                </div>
                                <div class="align-self-center">
                                    <h4 class="danger" th:text="${totalProducts}"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card" style="border-radius:10px;">
                    <div class="card-content" style="border-radius:10px;">
                        <div class="card-body" style="background-color:white;border-radius:10px;">
                            <div class="media d-flex">
                                <div class="media-body text-left">
                                    <h3 class="success"></h3>
                                    <span>Category </span>
                                </div>
                                <div class="align-self-center">
                                    <h4 class="danger" th:text="${totalCategory}"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card" style="border-radius:10px;">
                    <div class="card-content" style="border-radius:10px;">
                        <div class="card-body" style="background-color:white;border-radius:10px;">
                            <div class="media d-flex">
                                <div class="media-body text-left">
                                    <h3 class="primary"></h3>
                                    <span>Brands</span>
                                </div>
                                <div class="align-self-center">
                                    <h4 class="danger" th:text="${totalBrands}"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--ensd new-->



    <div class="col-md-6" style="margin-left:450px;">
        <canvas id="allTimeSalesChart" width="380" height="200"></canvas>
    </div>


    <div style="background-color:#C6EAFA;padding:50px;">
        <div class="row" style="margin-left:260px;" >
            <div class="col-xl-4 col-sm-6 col-10">
                <div class="card" style="border-radius:10px;">
                    <div class="card-content" style="border-radius:10px;">
                        <div class="card-body" style="background-color:white;border-radius:10px;">
                            <div class="media d-flex">
                                <div class="media-body text-left">
                                    <span>Daily Total</span>
                                </div>
                                <div class="align-self-center">
                                    <h4 class="danger" th:text="${dailySale}"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-sm-6 col-12">
                <div class="card" style="border-radius:10px;">
                    <div class="card-content" style="border-radius:10px;">
                        <div class="card-body" style="background-color:white;border-radius:10px;">
                            <div class="media d-flex">
                                <div class="media-body text-left">
                                    <h3 class="success"></h3>
                                    <span>Weekly Total</span>
                                </div>
                                <div class="align-self-center">
                                    <h4 class="danger" th:text="${weeklySale}"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-sm-6 col-12">
                <div class="card" style="border-radius:10px;">
                    <div class="card-content" style="border-radius:10px;">
                        <div class="card-body" style="background-color:white;border-radius:10px;">
                            <div class="media d-flex">
                                <div class="media-body text-left">
                                    <h3 class="primary"></h3>
                                    <span>Monthly Total</span>
                                </div>
                                <div class="align-self-center">
                                    <h3 class="danger" th:text="${monthlySale}"></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!--new update-->

    <div style="background-color:#C6EAFA;padding:50px;">
        <div class="row" style="margin-left:260px;" >
            <div class="col-xl-3 col-sm-6 col-10">
                <div class="card" style="border-radius:10px;">
                    <div class="card-content" style="border-radius:10px;">
                        <div class="card-body" style="background-color:white;border-radius:10px;">
                            <div class="media d-flex">
                                <div class="media-body text-left">
                                    <span>Order-Returns</span>
                                </div>
                                <div class="align-self-center">

                                    <h3 class="danger" th:text="${returnedCount}"></h3>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card" style="border-radius:10px;">
                    <div class="card-content" style="border-radius:10px;">
                        <div class="card-body" style="background-color:white;border-radius:10px;">
                            <div class="media d-flex">
                                <div class="media-body text-left">
                                    <h3 class="success"></h3>
                                    <span>Order-Cancel</span>
                                </div>
                                <div class="align-self-center">

                                    <h3 class="danger" th:text="${canceledCount}"></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-10">
                <div class="card" style="border-radius:10px;">
                    <div class="card-content" style="border-radius:10px;">
                        <div class="card-body" style="background-color:white;border-radius:10px;">
                            <div class="media d-flex">
                                <div class="media-body text-left">
                                    <span>Order Delivered</span>
                                </div>
                                <div class="align-self-center">
                                    <h4 class="danger" th:text="${deliveredCount}">
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-sm-6 col-10">
                <div class="card" style="border-radius:10px;">
                    <div class="card-content" style="border-radius:10px;">
                        <div class="card-body" style="background-color:white;border-radius:10px;">
                            <div class="media d-flex">
                                <div class="media-body text-left">
                                    <span>Order-Shipped</span>
                                </div>
                                <div class="align-self-center">
                                    <h4 class="danger" th:text="${shippedCount}"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!--end new update-->

    <!--graph-->

    <script>
document.addEventListener('DOMContentLoaded', () => {
fetch('/admin/getGraphReport')
        .then(response => response.json())
        .then(data => {
            var months = data.monthlyLabels;
            var amounts = data.monthlyAmounts;
            console.log("sree",data.monthlySales)
            const monthsArray = []; // Array for keys (months)
            const valuesArray = []; // Array for values

        for (const key in data.monthlySales) {
            if (data.monthlySales.hasOwnProperty(key)) {
                monthsArray.push(key);
                valuesArray.push(data.monthlySales[key]);
            }
        }
        var options = {
    scales: {
      yAxes: [{
        ticks: {
          beginAtZero: true
        },
        gridLines: {
          color: "rgba(204, 204, 204,0.1)"
        }
      }],
      xAxes: [{
        gridLines: {
          color: "rgba(204, 204, 204,0.1)"
        }
      }]
    },
    legend: {
      display: false
    },
    elements: {
      point: {
        radius: 0
      }
    }
  };
            const data1 = {
    labels: monthsArray,
    datasets: [{
        label: 'All Time Sales',
        data: valuesArray,
        backgroundColor: [

            'purple',
            'orange',
             'yellow',
            'green',
        ]
    }]
};
            displayChart(data1,options,);
        })
        .catch(error => {
            console.error('Error fetching data:', error);
  });

});
<!--graph js end-->



<!-- filtered sales report -->

    function changeSalesReport(){

    const mode = document.getElementById('timePeriods').value;
    console.log("mode", mode);

    fetch(`/admin/salesReportForGraph?mode=${mode}`)
    .then(response => response.json())
    .then(data => {
         console.log("Sales graph", data);
        // Handle the response data here

        // Log specific data
        console.log("Total Order Count: ", data.totalOrderCount);
        console.log("Total Revenue: ", data.totalRevenue);
        console.log("Monthly Labels: ", data.monthlyLabels);
        console.log("Monthly Amounts: ", data.monthlyAmounts);
    })
    .catch(error => {
        console.error(error);
    });

   }




    function changeSalesReport1(){
           var options = {
    scales: {
      yAxes: [{
        ticks: {
          beginAtZero: true
        },
        gridLines: {
          color: "rgba(204, 204, 204,0.1)"
        }
      }],
      xAxes: [{
        gridLines: {
          color: "rgba(204, 204, 204,0.1)"
        }
      }]
    },
    legend: {
      display: false
    },
    elements: {
      point: {
        radius: 0
      }
    }
  };


        <!--ithan cheyyande///////////////////////////////////-->
        fetch(`/admin/salesReportForGraph?modes=${mode}`)
        .then(response => response.json())
        .then(data => {
            console.log("fetch",data);
            const monthsArray = []; // Array for keys (months)
            const valuesArray = []; // Array for values

        for (const key in data.monthlySales) {
            if (data.monthlySales.hasOwnProperty(key)) {
                monthsArray.push(key);
                valuesArray.push(data.monthlySales[key]);
            }
        }
        const data1 = {
    labels: monthsArray,
    datasets: [{
        label: 'All Time Sales',
        data: valuesArray,
        backgroundColor: [

            'purple',
            'orange',
             'yellow',
            'green',
        ]
    }]
};
        displayChart(data1,options)

        })
     }
<!-- End filtered sales report -->

<!-- filtered sales report -->
<!--  -->

<!-- chart start -->
function displayChart(data,option){
            var ctx = document.getElementById('allTimeSalesChart').getContext('2d');
            var allTimeSalesChart = new Chart(ctx, {
                type: 'bar',
                data: data,
                options:option
            });
}
<!-- chart ends -->


 </script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!--end graph-->
</section>
</body>
</html>


