

<!-- PRODUCT DETAILS -->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{admin/base::Layout(~{::section})}">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!-- Your head content here -->
    <style>

        <!--ENABLE / DISABLE-->


        .combined-button {
            background-color: #E53935; /* Red background for disable */
        }
        .combined-button.enabled {
            background-color: #43A047; /* Green background for enable */
        }
        <!--end-->


        <!--EDIT BUTTON-->

       .edit-button {
       background-color: #FFC107 !important;
       color: black;
       }


        .edit-button:hover {
            background-color: #F5E618 !important;
            color:black;
        }

        <!--side bar-->

        .main-content {
         padding-left: 20px;
         padding-right:10px;
         width: calc(100% - 250px);


       .sidebarsection {
       padding:0;
       background-color: #344E5C;
       color: white;
       height: 100vh;
       width:250px;
    }
    .sidebarsection a {
      color: white;
    }
    .sidebarsection a:hover {
      color: #D3F0FF;
    }
    .sidebarsection .active {
      background-color: #000000;

    }
    .sidebar-logo {
      text-align: center;
      padding-bottom: 20px;
      border-bottom: 2px solid #000000;
    }
    .sidebar-logo img {
      width: 80px;
      height: auto;
<!--    }-->
<!--    .sidebar-brand {-->
<!--      padding-bottom:10px;-->
<!--      padding-top:20px;-->
<!--      font-weight:bold;-->
<!--      text-align: center;-->
<!--      font-size: 1.3rem;-->
<!--      background-color:black;-->
<!--      color:red;-->
<!--    }-->
<!--      .row{-->
<!--    background-color:#344E5C;-->
<!--    }-->


    </style>

</head>

<body>
<section>



    <!--sidebar-->

    <div class="container-fluid " style="margin-left:250px;">
        <!--strt-->
        <div class="row">
<!--        <div class="col-md-1 sidebarsection" style="padding-left:5px;padding-right:5px;">-->

<!--            <div class="sidebar-brand" style="background-color:black;margin-top:130px;height:55px ;-->
<!--                        text-align:center;font-weight:bold;color:red;">-->
<!--                A L L S T A R-->
<!--            </div>-->
<!--            <div class="list-group" style="border: 2px solid blue;margin-top:1px; font-weight:medium;color :white;">-->
<!--                <a href="#" class="list-group-item list-group-item-action" style="background-color:black;font-weight:bold;border: 2px solid blue;" >-->
<!--                    All Categories-->
<!--                </a>-->

<!--                <a href="#" class="list-group-item list-group-item-action" style="background-color: #111111;">Racket</a>-->
<!--                <a href="#" class="list-group-item list-group-item-action" style="background-color: #111111;">Shoe</a>-->
<!--                <a href="#" class="list-group-item list-group-item-action"  style="background-color: #111111;">Bag</a>-->
<!--                <a href="#" class="list-group-item list-group-item-action"  style="background-color: #111111;">Cloth</a>-->
<!--            </div>-->
<!--        </div>-->
        <!--end-->
            <div class="col-md-11 main-content" style="padding-left:4px;padding-right:10px;">
             <div class="table-container ">
              <div class="buttons-container d-flex">
                <div class="search-form">

                    <form th:action="@{/product/search}" class="d-flex ml-auto" method="get">

                    <input  type="text" name="keyword" th:value="${keyword}"
                           placeholder="Search" style="border-radius:5px;margin-top:28px;border: 2px solid blue;margin-right:3px;">
                    <button type="submit"
                            style="background-color: #46D1D1;border-radius:6px;  border: 2px solid black; padding:5px;color:white;height: 35px; margin-top:28px "
                               onmouseover="this.style.backgroundColor = '#42A5F5'; this.style.color = 'black';"
                               onmouseout="this.style.backgroundColor = '#46D1D1'; this.style.color = 'white';">
                        Search
                    </button>
                        </form>
                </div>

                <div  class="col-md-4 d-flex justify-content-end mb-3 mt-2">
                    <a th:href="@{/product/addProduct}"
                       class="btn btn-warning" style="margin-top:10px;border-radius:10px;padding:12px;color:white;">Add Product</a>
                </div>

            </div>
            <div class="col-md-11" style="padding-left:1px;">
            <table class="table table-bordered table-hover table-shadow">
                <thead  style="width:100%; background-color:#000000;color:white;">
                  <tr style="margin-left:2px;">
                    <th scope="col" class="text-center">NO</th>
                    <th scope="col" class="text-center">Name</th>
                    <th scope="col" class="text-center">Category</th>
                      <th scope="col" class="text-center">image</th>
                    <th scope="col" class="text-center">Description</th>
                    <th scope="col" class="text-center"> product Stock</th>
                    <th scope="col" class="text-center">Unit Price</th>
                    <th scope="col" class="text-center">Status</th>
                    <th scope="col" class="text-center">Action</th>
                </tr>
                </thead>

                <tbody>

                <tr th:each="product, rowStat : ${productInfo}">

                    <td th:text="${rowStat.index + 1}" class="text-center"></td>

                    <td th:text="${product.name}" class="text-center"></td>

                    <td th:text="${product.category.categoryname}" class="text-center"></td>

                    <td class="row">

<!--                        <div th:each="image : ${product.images}">-->
<!--                            <img style="margin-left: 4px;width: 50px;height: 57px;border-radius: 20%;"-->
<!--                                 th:src="@{|/uploads/${image.fileName}|}"-->
<!--                                 th:alt="${image.fileName}">-->

<!--                            <a th:href="@{/product/deleteImage/{uuid}(uuid=${image.uuid})}"-->
<!--                               class="fas fa-solid fa-xmark dlt-png" onclick="return confirm('Are you sure you want to delete this image?')"></a>-->
<!--                            </div>-->

                    <!--new -->
                        <div th:each="image : ${product.images}">
                            <div>
                                <img style="margin-left: 4px; width: 50px; height: 57px; border-radius: 20%;"
                                     th:src="@{|/uploads/${image.fileName}|}"
                                     th:alt="${image.fileName}">

                                <a th:href="@{/product/deleteImage/{uuid}(uuid=${image.uuid})}"
                                   class="fas fa-solid fa-xmark dlt-png"

                                   onclick="return confirm('Are you sure you want to delete this image?')"></a>

                            </div>
                        </div>

                        <!--end-->


                    <td th:text="${product.description}" class="text-center"></td>

<!--                    <td th:text="${product.stock}" class="text-center"></td>-->

                    <td class="text-center">
                        <a th:href="@{/product/addStock/{uuid}(uuid=${product.uuid})}" class="add-stock-icon">
                            <i class="fas fa-plus-circle"></i>
                        </a>

                        <span  th:text="${product.stock}"></span>
                        <span th:if="${product.stock < 10}" class="btn btn-danger">Low Stock</span>
                    </td>

                    <td th:text="${product.price}" class="text-center"></td>

                    <td >
                        <a th:if="${product.enable}"
                           th:href="@{'/product/block/'+${product.uuid}}"
                           class="btn btn-warning">Enable</a>
                        <a th:unless="${product.enable}"
                           th:href="@{'/product/unblock/'+${product.uuid}}"
                           class="btn btn-success"> Disable </a>
                    </td>

                    <td>
                        <a th:href="@{/product/edit/{uuid}(uuid=${product.uuid})}" class="btn "
                           style="background-color: #000; border-radius: 10px; border: 1px solid #1657FA;
                            font-weight: 900; padding: 8px 18px; font-size: 12px;color:white;">Edit</a>
                    </td>

                </tr>


                </tbody>
            </table>
           </div>

                     <!--pagination-->

<!--                     <div th:if="${totalPages > 1}">-->
<!--                         <div class="row col-sm-10">-->
<!--                             <div class="col-sm-2">-->
<!--                                 Total Rows : [[${totalItems}]]-->
<!--                             </div>-->

<!--                             <div class="col-sm-1">-->
<!--                       <span th:each="i : ${#numbers.sequence(1,totalPages)}">-->
<!--                       <a th:if="${currentPage != i}" th:href="@{'/product/page/' + ${i} + '?field=' + ${field} + '&sortDirection=' + ${sortDirection}}">[[${i}]]</a>-->
<!--                      <span th:unless="${currentPage != i}">[[${i}]]</span>-->
<!--                       </span>-->
<!--                             </div>-->

<!--                             <div class="col-sm-1">-->
<!--                                 <a th:if="${currentPage < totalPages}" th:href="@{'/product/page/' + ${currentPage + 1}+'?field='+${field} + '&sortDirection=' + ${sortDirection}}"-->
<!--                                    class="btn btn-sm btn-success">Next</a>-->
<!--                                 <span th:unless="${currentPage < totalPages}" class="btn btn-sm btn-success">Next</span>-->
<!--                             </div>-->
<!--                             <div class="col-sm-1">-->
<!--                                 <a th:if="${currentPage < totalPages}" th:href="@{'/product/page/' + ${totalPages}+'?field='+${field} + '&sortDirection=' + ${sortDirection}}"-->
<!--                                    class="btn btn-sm btn-success">Last</a>-->
<!--                                 <span th:unless="${currentPage < totalPages}" class="btn btn-sm btn-success">Last</span>-->
<!--                             </div>-->
<!--                         </div>-->
<!--                         </div>-->


<!--                    pagination end-->

        </div>
      </div>
    </div>

    </div>

    <div style="background-color:black;margin-left:250px;height:100px;margin-top:2px;margin-bottom:2px;"th:if="${totalPages > 1}">
        <div style="background-color:black;" class="row col-sm-10">
            <div  style="border-radius:10px;background-color:white;color:black;margin-left:20px;margin-top:37px;padding-left:30px;padding-top:5px;height:30px;width:30px;" class="col-sm-2">
                Total Rows : [[${totalItems}]]
            </div>

            <div style="margin-left:20px;margin-top:37px;padding-left:30px;" class="col-sm-1">
                      <span style="background-color:#0D6EFD;width:70px;margin-right: 30px;padding-left:10px;padding-right:10px;padding-bottom:7px;padding-top:3px;color:white;border-radius:20px;"
                            th:each="i : ${#numbers.sequence(1,totalPages)}">
                             <a style="color:white;height:70px"  th:if="${currentPage != i}"
                                th:href="@{'/product/page/' + ${i} + '?field=' + ${field} + '&sortDirection=' + ${sortDirection}}">[[${i}]]</a>
                             <span  style="padding-left:10px;"  th:unless="${currentPage != i}"[[${i}]]></span>
                </span>
            </div>

            <div style="background-color:black;margin-left:40px;margin-top:37px;padding-left:30px;"  class="col-sm-1">
                <a style="padding:8px;" th:if="${currentPage < totalPages}" th:href="@{'/product/page/' + ${currentPage + 1}+'?field='+${field} + '&sortDirection=' + ${sortDirection}}"
                   class="btn btn-sm btn-primary">Next</a>
                <span style="padding-left:20px" th:unless="${currentPage < totalPages}" class="btn btn-sm btn-primary">Next</span>
            </div>
            <div style="background-color:black;margin-left:4px;margin-top:37px;padding-left:20px;" class="col-sm-1">
                <a style="padding:8px;" th:if="${currentPage < totalPages}" th:href="@{'/product/page/' + ${totalPages}+'?field='+${field} + '&sortDirection=' + ${sortDirection}}"
                   class="btn btn-sm btn-primary">Last</a>
                <span style="padding-left:20px" th:unless="${currentPage < totalPages}" class="btn btn-sm btn-primary">Last</span>
            </div>
        </div>
    </div>
</section>
</body>
</html>
