<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      th:replace="shop/base::Layout(~{::section})">
<head>
  <meta charset="UTF-8">
  <title>Product Cart</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
        crossorigin="anonymous">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

  <link rel="stylesheet" th:href="@{/path/to/zooming.css}"/>
</head>
<body >
<section>
  <div class="container">
       <div class="margin">
           <h3 > ABOUT US</h3>


       </div>
    <div class="container" style="margin-top:40px;padding-left:50px;padding-right:50px;padding-top:30px;padding-bottom:60px;border: 2px solid #FF0000; border-radius: 10px;color:white;background-color:#000;">
      <h3 style="text-align:center;margin-top:10px;">ABOUT ALL-STAR</h3>
       <h5 style="padding:20px;">
                  All Star Pvt Ltd is a premier provider of badminton products, offering a diverse range of top-quality sporting equipment. Our product lineup encompasses four distinct categories, featuring rackets, accessories, bags, and shuttlecocks. We proudly showcase products from renowned brands such as Lining, Victor, and Yonex, ensuring that athletes and enthusiasts have access to the very best. What sets us apart is our unwavering commitment to delivering specialty offers, making high-quality badminton equipment accessible to all at affordable prices. With a focus on quality and affordability, All Star Pvt Ltd stands as the go-to destination for badminton enthusiasts looking to elevate their game.
      </h5>
    </div>
         <div class="container" style="padding:30px;">
           <h3 style="text-align:center;">About Brands</h3>
             <h5>ABOUT YONEX</h5>
           <p >By combining timeless Japanese craftsmanship and cutting-edge technology, we have been giving players the tools they need to triumph on the court for over 60 years. The Yonex philosophy has always remained the same: to craft a better future with unique innovations.

           </p>
           <h5>ABOUT VICTOR</h5>
           <p >International leader in badminton founded Taipei, Taiwan in 1968. We are dedicated to making badminton stronger, and loved by more people around the world, with the most advanced technologies we put on badminton rackets, footwear, apparel, and badminton-specific accessories.

             World's top-ranked female shuttler Tai Tzu Ying, world champions Mohammad Ahsan/Hendra Setiawan, team champion in Europe --- Danish National Team, and many other elite pros have all been using VICTOR products which are welcomed and sold in more than 60 countries across five continents.
           </p>
           <h5>ABOUT LI-NING</h5>
           <p >Li-Ning is the Chinese leader in athletic apparel and footwear, rooted in the vision of its founder and namesake, the champion gymnast Mr. Li Ning.
           </p>

         </div>





  </div>
<style>
       .margin {
               background: rgb(131,58,180);
                background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
                border-radius: 10rem;
               height: 40px;
               margin-top: 260px;
               text-align:center;
               color:white;
</style>
</section>
</body>
</html>

